<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <listeners>
        <listener class-name="com.williamssonoma.automationCore.listeners.ScreenshotListener" />
        <listener class-name="com.williamssonoma.automationCore.listeners.ExtentReporterNG" />
    </listeners>
    <test name="Test">
        <classes>
            <class name="com.williamssonoma.williamsSonomaTestAutomation.WilliamsSonomaCookwareShoppingCartTests" />
        </classes>

    </test> <!-- Test -->
</suite> <!-- Suite -->