<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="com.williamssonoma.automationCore.listeners.ScreenshotListener" />

    </listeners>
    <test name="Test">
        <packages>
            <package name="com.williamssonoma.williamsSonomaTestAutomation.*" />
        </packages>

    </test> <!-- Test -->
</suite> <!-- Suite -->